# all the ignored files and documents must be listed here
# this is a test to see if changes will come to other branch if not committed.
.idea
tests/__pycache__
__pycache__
.git
.gitignore
.pytest_cache
.venv
